.vimrc
*.o
*.d
*.pass
.*.swp
moc_*.cpp
main
diagrameditor_test
linetext_test
nodetexteditor_test
diagramnode_test
diagram_test
statementtext_test
wrapper_test
diagramio_test
scene_test
world_test
scenewrapper_test
worldwrapper_test
charmapper_test
qtscenewindow_manualtest
qtdiagrameditorwindow_manualtest
mainwindow_test
treeeditor_test
optional_test
diagramevaluation_test
evaluateexpression_test
